<meta charset="utf-8">
<title>{$title}</title>
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta content="telephone=no" name="format-detection">
<meta name="keywords" content="">
<meta name="description" content="">

<script src="__PUBLIC__/Mobile/js/vendor/zepto.min.js"></script>
<script src="__PUBLIC__/Mobile/js/vendor/mobileResponsive.js"></script>
<script src="__PUBLIC__/Mobile/js/vendor/touchScroll.js"></script>
<link href="__PUBLIC__/Mobile/css/book.css" type="text/css" rel="stylesheet">
