<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>课程信息</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Course/indexAdd')}">新 增</a>
			<if condition="$hidden['delete'] eq null">
				<button class="btn ajax-post confirm" url="{:U('Course/indexDel')}" target-form="ids">删 除</button>
			</if>
				<button class="btn ajax-post confirm" url="{:U('Course/indexStatus')}" target-form="ids">开启报名</button>
				<button class="btn ajax-post confirm" url="{:U('Course/indexClose')}" target-form="ids">关闭报名</button>
		</div>


        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入课程名称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<!--<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>-->
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">课程类型</th>
		<th class="">课程名称</th>
		<th class="">开始日期</th>
		<th class="">结束日期</th>
		<th class="">上课周期</th>
		<th class="">学费</th>
		<th class="">续班价格</th>
		<th class="">课次</th>
		<th class="">课时</th>
			<th class="">培训时间段</th>
			<th class="">预留人数</th>
			<th class="">班级数</th>
           <th class=""></th>
           </tr>
       </thead>
       <tbody>
           <notempty name="_list">
           <volist name="_list" id="vo">
           <tr>
			   <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.classtype}</td>
            <td>{$vo.title}</td>
			<td>{$vo.startdate}</td>
			<td>{$vo.enddate}</td>
			<td>{$vo.weekinfo}</td>
			<td>{$vo.amount}</td>
			<td>{$vo.amount_follow}</td>
			<td><span>{$vo.nums}</span></td>
			<td><span>{$vo.hours}</span></td>
			<td>{$vo.hour_s}-{$vo.hour_e} </td>
		   	<td>{$vo.reserve} </td>
		   	<td>{$vo.classnum} </td>
		   	<td>
                <if condition="$vo.isdel eq 1">
                    已关闭
                <else/>
                    <if condition="$hidden['edit'] eq null">
                        <a href="{:U('Course/indexEdit?id='.$vo['id'])}" class="get">编辑</a>
                    </if>
                </if>

		   	</td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Course/index')}');
	</script>
</block>
